.task_item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  background-color: #fff;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem;
    cursor: pointer;

    &:checked {
      border-color: #5dc2af;

      &::after {
        content: "✔";
        color: #5dc2af;
        font-size: 16px;
        position: absolute;
        left: 4px;
      }
    }
  }

  .text {
    word-break: break-word;
    color: #333;

    &.completed {
      text-decoration: line-through;
      color: #bfbfbf;
      opacity: 0.6;
    }
  }
}
